<div class="container">
  <% unless @ramen_recipes.empty? %>
    <p>Ramen Recipes<p>
  <% else %>
    <p>There aren't any recipes here.</p>
  <% end %>

  <div class="recipe-container">
    <% @ramen_recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.name, ramen_recipe_path(recipe) %>
        <%= link_to "edit", edit_ramen_recipe_path(recipe)%>
        <%= link_to "delete", ramen_recipe_path(recipe), method: :delete%>
      </li>
    <% end %>
  </div>

